body {
  margin: 0;
  background: #b7ffd2;
}
.container,
.container2,
.container4,
.container3 {
  margin: 0 auto;
  font-size: 3rem;
  width: 50%;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: #bdbdbd;
}
.letters-container {
  position: relative;
  user-select: none;
}
.letters-container:hover .line,
.letters-container:hover .line2 {
  width: 100%;
}
.letter-wrapper {
  position: relative;
  color: rgba(187, 187, 187, 0);
}
.letter-up,
.letter-down {
  position: absolute;
  left: 0;
  color: #1d1d1d;
}
.letter-up {
  z-index: 3;
}
.letter-down {
  z-index: 1;
}
.line {
  display: none;
  position: absolute;
  z-index: 2;
  width: 0;
  height: 25px;
  background: rgba(255, 0, 0);
  top: 48px;
  transition: width 1.2s;
}
.line2 {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 25px;
  background: #803cff;
  top: 48px;
  border-radius: 10px;
  transition: width 3s;
}
